/*.titolo{
  display: block;
  margin: auto;
  margin-bottom: 200px;
  position:absolute;
}

.bottone {
  display:;
  margin: auto;
  margin-bottom: 20px;
  width: 550px;
  height: 80px;
  appearance: button;
  background-color: #0000004b;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #000000bb;
  cursor: pointer;
  font-family:sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

.bottone:after {
  background-clip: padding-box;
  background-color: #ffd900;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.bottone:main,
.bottone:focus {
  user-select: auto;
}

.bottone:hover:not(:disabled) {
  filter: brightness(1.08);
  -webkit-filter: brightness(1.08);
}

.bottone:disabled {
  cursor: auto;
}

.bottone:active {
  border-width: 4px 0 0;
  background: none;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
*/

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}