.bottone{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 550px;
    height: 80px;
    background-color:#ffcf0f;
    border-radius: 16px;
    border-width: 0 0 4.5px 0;
    box-sizing: border-box;
    color:black;
    cursor: pointer;
    font-family: din-round,sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    border-color: white;
    outline:solid;
    overflow: auto;
    text-align: center;
    user-select: none;
  }
  
  .bottone:hover {
    filter: brightness(1.1);
  }
  
  .bottone:active {
    border-width: 0 0 0 0;
    transform:translateY(4px);
  }
  
body {
    display:contents;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
  @media screen and (max-width: 600px){
    .bottone{
      transform: translateX(80px) translateY(120px);
      
    }
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .themes-container {
    max-width: 80%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .themes {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-style:oblique;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }