* {
  user-select: none;
}

/* BODY */
body {
  background-color: #114250;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:contain;
  background-position: center;
}

/* USER DATA */
#profile {
  display:flex;
  align-items: center;
  padding: 30px 30px 30px 30px;
}

/* AVATAR BAR */
#avatar-bar {
  width: 250px;
  height: 80px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: solid 3px;
}

.avatar {
  width:70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color:#888888;
  cursor: pointer;
}

.username {
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
}

.dropdown {
  display: none;
  position: absolute;
  top: 140px;
  left: 40px;
  padding: 50px 10px 20px 10px;
  outline: auto;
  background: white;
  border-radius: 17px;
  z-index: 100;
}

.dropdown button {
  width: 200px;
}

/* MONEY CONTAINER */
#money-container {
  width: 150px;
  height: 40px;
  margin-left: auto;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 17px;
  display: flex;
  align-items: center;
  gap: 15px;
  outline: solid 3px;
}

.money-icon {
  background-color: #ffe600;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

#money {
  font-size: 18px;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* THEMES CONTAINER */
.themes-container {
  position: relative;
  padding: 10px 0 30px 0;
  overflow-x: hidden;
}

.foto-tema {
  width: 100%;
  border-radius: 17px;
  display:block;
  filter: brightness(0.2);
}

.animali {
  filter: brightness(0.9);
}

.theme {
  display: none;
}

.theme-block {
  position:absolute;
  max-width:100%;
  max-height:100%;
  top:50%;
  left:50%;
  overflow:visible;
}

#lucchetto {
  position:relative;
  max-width:50%;
  max-height:50%;
  margin-top:-40%;
  margin-left:-25%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  backdrop-filter: blur(1px);
  border-radius: 200px;
}

.next { 
  right: 0;
}

.text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position:absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.animal {
  color: black;
}

.bottone-sblocca {
  display: block;
  margin-top: 5%;
  margin-left: -42%;
  width: 300px;
  height: 80px;
  background-color: #FFC93C;
  border-radius: 16px;
  border-width: 0 0 4.5px 0;
  color:black;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  border-color: rgb(255, 255, 255);
  outline:solid;
  overflow: auto;
  text-align: center;
  user-select: none;
  transition: .2s;
}

.bottone-sblocca:enabled:hover {
  filter: brightness(1.1);
}

.bottone-sblocca:enabled:active {
  border-width: 0 0 0 0;
  transform:translateY(4px);
}

.bottone-sblocca:disabled {
  background-color: #cccccc;
  border: 1px solid #999999;
  color: #666666;
  cursor: default;
}

.bottone-sblocca:disabled:hover {
  filter: none;
}

#money-block {
  display: flex;
  flex-direction: row;  
  align-items: center;
  margin-left: 40%;
  margin-top: 3%;
  gap:5%;
}

#money-block svg {
  position:relative;
  background-color: #ffe600;
  border-radius: 50%;
  width: auto;
  height: auto;
}

#money-block span {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* PLAY BUTTON */
.bottone{
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 550px;
  height: 80px;
  background-color: #FFC93C;
  border-radius: 16px;
  border-width: 0 0 4.5px 0;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  border-color: rgb(255, 255, 255);
  outline:solid;
  overflow: auto;
  text-align: center;
  user-select: none;
  transition: .2s;
}

.bottone:enabled:hover {
  filter: brightness(1.1);
}

.bottone:enabled:active {
  border-width: 0 0 0 0;
  transform:translateY(4px);
}

.bottone:disabled {
  background-color: #cccccc;
  border: 1px solid #999999;
  color: #666666;
  cursor: default;
}

.bottone:disabled:hover {
  filter: none;
}

/* POPUP */
.overlay-container { 
  display: none; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6); 
  justify-content: center; 
  align-items: center; 
} 

.popup-box { 
  display: block; 
  background: #fff; 
  padding: 24px; 
  border-radius: 20px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
  width: 70%; 
  height: 60%;
  text-align: center; 
  align-items: center;
  align-content: center;
  animation: fadeInUp 0.5s ease-out forwards; 
}

.bottonepopup{
  width: 50%;
  height: 80px;
  margin-bottom: 3%;
  background-color: #59D5E0;
  border-radius: 16px;
  border-width: 0 0 4.5px 0;
  color:black;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  border-color: rgb(255, 255, 255);
  outline:solid;
  user-select: none;
}

.bottonepopup:hover {
  filter: brightness(1.1);
}

.bottonepopup:active {
  border-width: 0 0 0 0;
  transform:translateY(4px);
}

#titolopopup{
  color: black;
  font-family: din-round,sans-serif;
  font-size: 220%;
  font-weight: 700;
}

#titolopopup.error{
  color: red;
}

.input-box{
  display: block;
  margin-left: 28px;
  margin-top: 8%;
  margin-bottom: 3%;
}

.input-box input {
  width: 28%;
  height: 40px;
  outline:none;
  border-radius:40px;
  font-size: 16px;
  padding-left: 16px;
}

#lock{
  position: relative;
  top: 3px;
  right: 35px;
}

#unlock{
  position: relative;
  top: 3px;
  right: 35px;
}

@keyframes fadeInUp { 
  from { 
      opacity: 0; 
      transform: translateY(20px); 
  } 
  to { 
      opacity: 1; 
      transform: translateY(0); 
  } 
} 

.overlay-container.show { 
  display: flex; 
  opacity: 1; 
}

/* RESPONSIVENESS */
@keyframes fadeInUp { 
  from { 
      opacity: 0; 
      transform: translateY(20px); 
  } 
  to { 
      opacity: 1; 
      transform: translateY(0); 
  } 
} 

.overlay-container.show { 
  display: flex; 
  opacity: 1; 
}

@media screen and (max-width: 600px){
  #profile {
      display:flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 0px;
    }

  #money-container {
    margin: auto;
    margin-top:5px;
  }

  #play {
    padding-top: 0;     
  }
  .bottone{
    width: 300px;
    height:80px;
  }
  .themes-container {
    padding-top:30px;
  }

  #lucchetto {
    max-width:80%;
    max-height:60%;
    margin-top:-65%;
    margin-left:-37%;
  }

  .bottone-sblocca {
    width: 180px;
    height: 60px;
    left: 27%;
    top: 55%;
  }

  #money-block {
    margin-top: 0%;
    margin-left:35%;
  }

  .text {
    font-size: 40px;
  }

  .popup-box { 
    height: 55%;
  }

  .input-box{
    margin-bottom: 5%;
  }

  .input-box input {
    width: 150px;
  }

  .bottonepopup{
    width: 200px;
    height: 50px;
    font-size: 15px;
  }

  #titolopopup {
    font-size: 30px;
  }

  #lock{
    margin-left: 5px;
  }
  
  #unlock{
    margin-left: 5px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1300px){
  .foto-tema {
    height: 500px;
  }

  .popup-box { 
    height: 40%;
  }

  .input-box input {
    width: 180px;
  }

  .bottonepopup{
    width: 50%;
    height: 50px;
  }

  #titolopopup {
    font-size: 30px;
  }
}


 
 