.titolo{
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 150px;
}

.bottone-homepage {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 550px;
  height: 80px;
  background-color:#ffcf0f;
  border-radius: 16px;
  border-width: 0 0 4.5px 0;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  border-color: rgb(255, 255, 255);
  outline:solid;
  overflow: auto;
  text-align: center;
  user-select: none;
  transition: .2s;
}

.bottone-homepage:hover {
  filter: brightness(1.2);
}

.bottone-homepage:active {
  border-width: 0 0 0 0;
  transform:translateY(4px);
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px){
  .titolo {
    margin-top: 10%;
  }

  .bottone-homepage{
    transform: translateX(80px) translateY(120px);
    
  }
}